.root {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  gap: 20px;

  div {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;

    &:hover {
      text-decoration: underline;
      color: rgba(0, 104, 251, 1);
      cursor: pointer;
    }
  }
}

.img {
  display: flex;
  align-items: center;
  width: 20px;
  img {
    object-fit: contain;
    height: 100%;
  }
}

.breadcrumbs_line {
  display: flex;
  gap: 20px;
}
