.root {
  padding: 24px;
  margin-bottom: 164px;
}

.container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 4fr 2fr;

  .image_block {
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    img {
      object-fit: contain;
      width: 100%;
    }
  }
}
